<form class="add-employee" name="add-employee" method="post" action="/add-employee">
    <h1 class="h3 mb-3 font-weight-normal">Thêm nhân viên</h1>
    <label for="code" class="sr-only">Mã nhân viên</label>
    <input type="text" name="code" id="code" class="form-control" placeholder="Mã nhân viên" required=""
        autofocus="">
    <label for="name" class="sr-only">Tên</label>
    <input type="text" name="name" id="name" class="form-control mt-2" placeholder="Tên" required="">

    <label for="phone_number" class="sr-only">Số điện thoại</label>
    <input type="text" name="phone_number" id="phone_number" class="form-control mt-2" placeholder="Số điện thoại" required="">

    <label for="email" class="sr-only">Email</label>
    <input type="text" name="email" id="email" class="form-control mt-2" placeholder="Email" required="">

    <label for="address" class="sr-only">Địa chỉ</label>
    <input type="text" name="address" id="address" class="form-control mt-2" placeholder="Địa chỉ" required="">

    <label for="gender" class="sr-only">Giới tính</label>
    <input type="text" name="gender" id="gender" class="form-control mt-2" placeholder="Giới tính" required="">

    <label for="date_of_birth" class="sr-only">Ngày sinh</label>
    <input type="text" name="date_of_birth" id="date_of_birth" class="form-control mt-2" placeholder="Ngày sinh" required="">

    <label for="bank_account" class="sr-only">Tài khoản ngân hàng</label>
    <input type="text" name="bank_account" id="bank_account" class="form-control mt-2" placeholder="Tài khoản ngân hàng" required="">

    <label for="department_id" class="sr-only">Mã phòng ban</label>
    <input type="text" name="department_id" id="department_id" class="form-control mt-2" placeholder="Mã phòng ban" required="">

    <label for="job_position_id" class="sr-only">Mã chức vụ</label>
    <input type="text" name="job_position_id" id="job_position_id" class="form-control mt-2" placeholder="Mã chức vụ" required="">


    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Thêm</button>
</form>
