<form class="add-department" name="add-department" method="post" action="/add-department">
    <h1 class="h3 mb-3 font-weight-normal">Thêm phòng ban</h1>
    <label for="code" class="sr-only">Mã phòng ban</label>
    <input type="text" name="code" id="code" class="form-control" placeholder="Mã phòng ban" required=""
        autofocus="">
    <label for="name" class="sr-only">Tên</label>
    <input type="text" name="name" id="name" class="form-control mt-2" placeholder="Tên" required="">
    <label for="description" class="sr-only">Mô tả</label>
    <input type="text" name="description" id="description" class="form-control mt-2" placeholder="Mô tả" required="">
    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Thêm</button>
</form>
